/*
*   BEM architecture: Please follow it
*   Built by the community 
*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EEE;
    font-family: 'Montserrat', sans-serif;
}

a{
    transition: color .4s;
}

.wrap{
    width: 90%;
    margin: 0 auto;
}

.listing-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*
*   User component 
*/

.user{
    width: 15%;
    padding: 40px 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    background-color: #FFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

.user__profile-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #EEE;
    margin: 0 auto;
}

.user__profile-photo__img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
}

.user__profile-photo__img:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    border: 4px solid red;
}

.user__name{
    font-size: 12px;
    margin: 20px 0;
    text-align: center;
}

.user__name a{
    color: #666;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.user__name a:hover{
    color: #333;
}